<img src="banner.png" class="img-fluid" alt="Responsive image">

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center doradoN">
        <h2 class="pb-0" style="margin-top: -40%;margin-left: -6%;">Lissette</h2>
        <h2 style="margin-top: -2%;;margin-left: -8%;">&</h2>
        <h2 style="margin-top: 0%;margin-left: 20%;">Yurhen</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="center" >
        <p > Te invitamos a celebrar</p>
        <h3 class="doradoC">Nuestra Boda</h3>
        <p>¡Nos casamos!</p>
        <p > Y nos llena de emoción celebrar nuestra unión <br>
        junto a personas especiales como tu.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="margin-top: -22px;padding-bottom: 10px;">
  <img src="sep.png" class="img-fluid" alt="Responsive image">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="center" >
        <p class="cursiva">“Y si alguno prevaleciere contra uno, dos le resistirán; y cordón de tres dobleces no se rompe pronto.”</p> 
        <p>Eclesiastés‬ ‭4‬:‭12‬</p> 
      </div>
    </div>
  </div>
</div>
<div>
  <img src="sep.png" class="img-fluid" alt="Responsive image">
</div>

<div class="container-fluid">
  <div class="center" > 
    <i class="bi bi-calendar-heart doradoC"></i> 
</div>
  <div class="row">
  
  
    <div class="col doradoT">
      <div class="center " > 
        <p class="dateText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sábado • <span class="number">21</span> • Diciembre</p> 
      </div>
      <div class="center" > 
        <p class="yearText">2024</p> 
   
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
   
  <div class="row">
  
  
    <div class="col">
      <div class="center" > 
          <img class="icon-size" src="anillos.png" >  
      </div> 
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="center" >
        <h3 class="doradoC">Salon Comunal</h3> 
        <p class="mb-0">Guácimo, Rio Jimenez, Los Ángeles</p> 
        <p>Hora: 6:00 PM</p> 
      </div>
      <div class="center pb-2" >
        <button (click)="ubicacion()" class="btn btn-primary ubicacion">Ir a ubicación</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col">
      <div class="text-center doradoC">
        <h3>Vestimenta</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid"> 
  <div class="row"> 
    <div class="col">
      <div class="center" >  
          <img class="icon-size" src="./vestimenta.png"    >   
      </div> 
  </div>
</div>
<div class="center" >
   <p>Semi-Formal</p> 
</div>
</div>
<div class="container-fluid pb-2"> 
  <div class="row"> 
    <div class="col">
      <div class="center" >  
        <div class="card" >
          <div class="card-body">
           <h5 class="card-title doradoC pb-2"> <i class="bi bi-gift-fill"></i> Mesa de Regalos</h5> 
            <p class="card-text">Su presencia es nuestro mejor regalo, pero si desean hacernos un obsequio,
              ponemos a su disposición a nuestra sugerencia.</p>
        
          </div>
          <div class="center pb-2" >
            <button class="btn btn-primary ubicacion" type="button"  (click)="showAlert()">Ver sugerencia</button>
          </div>
        </div>
      </div> 
  </div>
</div> 
</div>
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3 class="conf doradoC pb-1">Confirma</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tu asistencia</p>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="center pb-2 col-6" >
      <button (click)="confirmaNovio()" class="btn btn-primary ubicacion">Confirma al Novio</button>
    </div>
    <div class="center pb-2 col-6" >
      <button (click)="confirmaNovia()" class="btn btn-primary ubicacion">Confirma a la Novia</button>
    </div>
  </div>
  </div>
  
<div class="container-fluid pt-4 pb-4">
  <div class="row">
    <div class="col">
      <div class="center" > 
        <p>*Preferiblemente confirmar asistencia antes del 15 de Diciembre*</p> 
      </div> 
    </div>
  </div>
</div>
  <div class="container-fluid pt-4 pb-4">
    <div class="row">
      <div class="col">
        <div class="center" > 
          <p class="conf">Los mejores momentos<br>de la vida merecen ser </p> 
          <h3 class="conf doradoC pt-1">Compartidos</h3>
        </div> 
      </div>
    </div>
  </div>
<div class="container-fluid pt-4 pb-4 dorado">
  <div class="row">
    <div class="col ">
      <div class="center " > 
        <p class="conf">¡Gracias por acompañarnos!</p>  
      </div> 
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="suggest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>